//components
@import '{}/imports/components/nav/nav.scss';
//pages
@import '{}/imports/pages/about/about.scss';
@import '{}/imports/pages/admin/admin.scss';
// @import '{}/imports/pages/contact/contact.scss';
@import '{}/imports/pages/home/home.scss';
//Bootstrap overrides
$theme-colors: (
  "primary": #6eaef7,
  "danger": #ff4136
);
.btn-primary{
  color: #fff!important;
}
@import '{}/client/bootstrap/bootstrap.scss';

body{
  .page-wrapper{
    background: url('/musicBG.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  #Modal{
    z-index: 100;
  }
}

.pointer{
  cursor: pointer;
}

.f-1{
  flex: 1;
}

.transparent-1{
  background-color: rgba(255,255,255,.3);
}

.transparent-2{
  background-color: rgba(255,255,255,.8);
}

.border-3{
  border-style: solid;
  border-width: 3px!important;
}

.border-5{
  border-style: solid;
  border-width: 5px!important;
}

.text-faded{
  color: rgba(0, 0, 0, .2)
}
