.calendar{
  .day{
    height: 110px;
    border-width: 3px!important;
    user-select: none;
  }
  .day>div{
    border-width: 3px!important;
  }
  .day>div>i{
    right: 0;
    bottom: 0;
  }
  .weekday{
    border-width: 3px 3px 0 3px !important;
    .dayNumber{
      height: 1.7em;
      width: 1.7em;
      border-width: 3px !important;
    }
  }
  .OOMoverlay{
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    pointer-events: none;
    background-color:rgba(0,0,0,.2);
  }
  .CDoverlay{
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    pointer-events: none;
    opacity: .5;
  }
}